<!DOCTYPE html>
<html>
<head>
  <title>Stranger's Dashboard</title>
</head>

<body>

<div id="navbarr" style="margin-top: -60px;">
  <div id="search-bar"><input type="text" placeholder="Search users/topics"></input></div>
  <a class="navbarr-elem" href="#">My Profile</a>
  <div class="navbarr-elem"><%= link_to 'Home', pages_home_page_logged_in_path %></div>
  <div class="navbarr-elem"><%= link_to 'View Users', pages_view_users_path %></div>
  <div class="navbarr-elem"><%= link_to 'Survey', pages_survey_page_path %></div>
  <div class="navbarr-elem"><%= link_to 'Friend Dasboard', pages_friend_dashboard_path %></div>
  <div class="navbarr-elem"><%= link_to 'Stranger Dashboard', pages_stranger_dashboard_path %></div>
  <a class="navbarr-elem" href="#">Discussion Forums</a>
</div>

<fieldset style="border: 1px solid black; width: 95%; margin-left: auto; margin-right: auto; padding: none;">
  <legend>MAVIS' DASHBOARD</legend>


  <div class="large-8" style="margin: auto; width: 100%; height: 350px;">

    <div class="large-4 medium-4 columns">
      <ul class="pricing-table active-tb shadow mrgn-20-top" style="height:19.5rem">
        <li class="title">Mavis Chan</li>
        <li class="bullet-item">
          </br><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/v/t1.0-1/c72.29.576.576/11221772_10155705111515317_8331162300376917323_n.jpg?oh=bd34598affeb9dc5f944b4713131e3ee&oe=5626262E&__gda__=1445588267_5e767ef5b600a57a9a2b59b1f9ce53b1" width="50%" height="auto" style="border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;"/>
          </br></br><h4 style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000;">Mavis Chan</h4></br><br>
        </li>
      </ul>
    </div>

    <div class="large-8 medium-4 columns">
      <ul class="pricing-table active-tb shadow mrgn-20-top" style="height: 355px; background: white;">
        <li class="title">Mavis' Survey Results</li>
        <li class="bullet-item" style="text-align: center;">

          <h5>Do you know Mavis?</h5>
          <img src="<%= asset_path 'warning_sign.jpg' %>" style=" margin-top: 5px; width: 21%; height: 21%; margin-bottom: 20px;">
          <h3><b>Mavis' Results are private.</b></h3><br>
          <p style="float: left; margin-left: 250px;">Add Mavis as a friend to compare results.</p>
          <button style="background: white; color: black; height: 40px; width: 180px; border: 1px solid grey; margin-top: -50px; padding-bottom: 30px; margin-bottom: 0px;"><b>+ Add Friend</b></button>

        </li>
      </ul>
    </div>
  </div>

  <div style="width: 98%; margin: auto; background-color: #D83431; margin-top: 30px;">
    <h3 style="text-align: center; color: white; padding: 5px;">Mavis' Friends (3 Mutual)</h3>
  </div>
  <div style="width: 97.9%; background-color: white; padding-top: 10px; margin-top: -10px; margin-bottom: 15px; height: 420px; margin-left: 14px;">

    <div style="padding-left: 70px;">
      <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button disabled style="background: white; color: black; height: 40px; width: 180px; padding-top: 0px; border: 1px solid grey;"><img src="http://uxrepo.com/static/icon-sets/ionicons/svg/ios7-checkmark-empty.svg" style=" height: 50px; width: 60px; margin-top: -5px; margin-left: -35px; border: none; margin-right: -15px;"><b>Friends</b></button>
                                </span>
                            </span>
      </div>
      <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button disabled style="background: white; color: black; height: 40px; width: 180px; padding-top: 0px; border: 1px solid grey;"><img src="http://uxrepo.com/static/icon-sets/ionicons/svg/ios7-checkmark-empty.svg" style=" height: 50px; width: 60px; margin-top: -5px; margin-left: -35px; border: none; margin-right: -15px;"><b>Friends</b></button>
                                </span>
                            </span>
      </div>
      <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button disabled style="background: white; color: black; height: 40px; width: 180px; padding-top: 0px; border: 1px solid grey;"><img src="http://uxrepo.com/static/icon-sets/ionicons/svg/ios7-checkmark-empty.svg" style=" height: 50px; width: 60px; margin-top: -5px; margin-left: -35px; border: none; margin-right: -15px;"><b>Friends</b></button>
                                </span>
                            </span>
      </div>
    </div>

</fieldset>

</body>
</html>