<!DOCTYPE html>
<html>
<head>
  <title>Whyvote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navbar">
  <a class="navbar-brand" href="/">
    <img src="<%= asset_path 'Whyvote_logo.jpg' %>" />
  </a>

<<<<<<< HEAD
  <a class="navbar-elem" href="/"><input type="text" placeholder="Search users/topics"></input></a>
  <a class="navbar-elem" href="/">My Profile</a>
  <a class="navbar-elem" href="/">Home</a>
=======
  <a class="navbar-elem" href="/users/">View Users</a>
  <a class="navbar-elem" href="/members/user-profile">My Profile</a>
  <a class="navbar-elem" href="/">My Team Profile</a>
>>>>>>> 91b648b96b358ac2c32a09cc9bbec1d71e37906a
  <a class="navbar-elem" href="/teams/">Teams</a>
  <a class="navbar-elem" href="/">Current Policy Questions</a>
  <a class="navbar-elem" href="/">Discussion Forums</a>



  <% if user_signed_in? %>
      <a class="navbar-elem right-align" data-method='delete' href="<%= destroy_user_session_path %>">Logout</a>
      <!--<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>-->
  <% else %>
      <a class="navbar-elem right-align" href="<%= new_user_session_path %>">Login</a>
      <!--<%= link_to('Login', new_user_session_path)  %>-->
  <% end %>
</div>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="app-container">
    <%= yield %>
</div>

</body>
</html>
