<!DOCTYPE html>
<html>
<head>
  <title>Whyvote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>

<body>
<% if user_signed_in? %>
<div id="navbar">
  <a class="navbar-brand" href="/">
    <img src="<%= asset_path 'Whyvote_logo_transparent.png' %>" />
  </a>


  <a class="navbar-elem" href="/members/user-profile">My Profile</a>
  <a class="navbar-elem" href="/teams/view-teams">View Users</a>
  <a class="navbar-elem" href="/">Survey</a>
  <a class="navbar-elem" href="/">About</a>

<% end %>

  <% if user_signed_in? %>
      <a class="navbar-elem right-align" data-method='delete' href="<%= destroy_user_session_path %>">Logout</a>
      <!--<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>-->

  <% end %>
</div>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="app-container">
    <%= yield %>
</div>

  <% if user_signed_in? %>
<div id="footer">
    A tool to find out which party you align with.
    <span class="fb_link"><a href="http://www.facebook.com/groups/whyvote">Connect with us on Facebook.</a></span>
</div>
<%end%>

</body>

</html>
